Repository NKI-AI/dlup: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
    -   id: black
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
    -   id: ruff
-   repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    # Ignore the configuration files
    hooks:
    -   id: flake8
        exclude: ^docs/
-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
-   repo: local # Use pylint from local environment as it requires to import packages
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ["--strict"]
        files: ^dlup/
-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
- repo: local  # Use pylint from local environment as it requires to import packages
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "dlup",
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--errors-only"  # Only show the errors
        ]
-   repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.2
    hooks:
    -   id: cython-lint
    -   id: double-quote-cython-strings
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(cpp|h)$
        args: ['-i']

fix(build): release script improved
  .github/workflows/release.yml
  MODULE.bazel
  requirements.in
  requirements_darwin.txt
  requirements_linux.txt
Due: none

fix(build): openslide not necessarily required
  .github/workflows/release.yml
  BUILD.bazel
  dlup/backends/__init__.py
  dlup/utils/imports.py
Due: mypy, pylint

fix(build): release script improved
  .github/workflows/release.yml
  BUILD.bazel
  MODULE.bazel
  dlup/backends/__init__.py
  dlup/utils/imports.py
  requirements.in
  requirements_darwin.txt
  requirements_linux.txt
Due: mypy, pylint

fix(dlup): anistropic mask issue in `_background.cpp`
  BUILD.bazel
  dlup/__init__.py
  docs/Doxyfile
  docs/source/conf.py
  docs/source/index.rst
  examples/python/files/dlup_annotation_test.xml
  include/dlup/constants.h
  meson.build
  pyproject.toml
  requirements.in
  src/_background.cpp
  src/_libtiff_tiff_writer.cpp
  tests/python/background_test.py
Due: mypy, pylint, clang-format

fix(dlup): anistropic mask issue in `_background.cpp` (#259)
  BUILD.bazel
  dlup/__init__.py
  docs/Doxyfile
  docs/source/conf.py
  docs/source/index.rst
  examples/python/files/dlup_annotation_test.xml
  include/dlup/constants.h
  meson.build
  pyproject.toml
  requirements.in
  src/_background.cpp
  src/_libtiff_tiff_writer.cpp
  tests/python/background_test.py
Due: mypy, pylint, clang-format

fix: `close()` for `SlideDataset`
  BUILD.bazel
  dlup/__init__.py
  dlup/data/dataset.py
  docs/Doxyfile
  docs/source/conf.py
  docs/source/index.rst
  examples/python/files/dlup_annotation_test.xml
  include/dlup/constants.h
  meson.build
  pyproject.toml
  src/_libtiff_tiff_writer.cpp
  tests/python/dataset_test.py
Due: mypy, pylint, clang-format
