Repository NKI-AI/dlup: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, clang-format

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --strict

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - dlup
  - -rn
  - -sn
  - --errors-only

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

Give more verbose output
  .github/workflows/tox.yml
  .gitignore
Due: none

Update tox
  .github/workflows/tox.yml
Due: none

Updates to meson
  .github/workflows/mypy.yml
  .github/workflows/pylint.yml
  .github/workflows/tox.yml
  .spin/cmds.py
  CMakeLists.txt
  MANIFEST.in
  Makefile
  _background.cpython-310-darwin.so
  _background.cpython-311-darwin.so
  dlup/annotations.py
  dlup/cli/__init__.py
  dlup/cli/wsi.py
  dlup/data/transforms.py
  dlup/writers.py
  docker/Dockerfile
  docker/README.md
  docker/jupyter_notebook_config.py
  meson.build
  pyproject.toml
  setup.cfg
  setup.py
  tests/test_background.py
  tests/test_cli.py
  tests/test_writers.py
  tox.ini
Due: mypy, pylint

Update
  .github/workflows/codecov.yml
  .github/workflows/tox.yml
  meson.build
  tox.ini
Due: none

Merged
  .clang-format
  .github/workflows/black.yml
  .github/workflows/codecov.yml
  .github/workflows/mypy.yml
  .github/workflows/pylint.yml
  .github/workflows/tox.yml
  .gitignore
  .pre-commit-config.yaml
  .spin/cmds.py
  MANIFEST.in
  Makefile
  dlup/_libtiff_tiff_writer.py
  dlup/_libtiff_tiff_writer.pyi
  dlup/annotations.py
  dlup/cli/__init__.py
  dlup/cli/wsi.py
  dlup/data/transforms.py
  dlup/writers.py
  docker/Dockerfile
  docker/README.md
  docker/jupyter_notebook_config.py
  examples/resample_image_to_tiff.py
  examples/test.py
  meson.build
  pyproject.toml
  setup.cfg
  setup.py
  src/constants.h
  src/image.h
  src/libtiff_tiff_writer.cpp
  tests/test_background.py
  tests/test_cli.py
  tests/test_writers.py
  tox.ini
Due: mypy, pylint, clang-format

Removing failing workflows (for now)
  .github/workflows/codecov.yml
  .github/workflows/tox.yml
  .spin/cmds.py
Due: pylint

Fix mypy
  .github/workflows/mypy.yml
Due: none

Ninja was missing
  .github/workflows/mypy.yml
Due: none

Update tox workflow (disabling tox)
  .github/workflows/tox.yml
Due: none

Tox updates
  .github/workflows/tox.yml
Due: none

Allow the correct building of package
  MANIFEST.in
  meson.build
Due: none

Tox passes locally.
  .github/workflows/mypy.yml
  .github/workflows/tox.yml
Due: none

Is ninja required on gh?
  .github/workflows/tox.yml
Due: none

New try.
  .github/workflows/tox.yml
Due: none

Remove weird error
  .github/workflows/mypy.yml
Due: none

Reuse containers
  .github/workflows/codecov.yml
  .github/workflows/mypy.yml
Due: none

Isn't this the same?
  .github/workflows/mypy.yml
Due: none

Add mypy
  .github/workflows/mypy.yml
Due: none

Remove PIL colortransform
  dlup/_image.py
Due: mypy, pylint

Updated pylint
  .github/workflows/pylint.yml
Due: none

Delete examples/test.py
  examples/test.py
Due: pylint

Reduce cyclic imports, fix mypy and tox workflows
  .gitignore
  .spin/cmds.py
  dlup/__init__.py
  dlup/backends/__init__.py
  dlup/backends/pyvips_backend.py
  dlup/data/dataset.py
  dlup/data/transforms.py
  dlup/utils/backends.py
  dlup/utils/image.py
  src/libtiff_tiff_writer.cpp
  tests/backends/test_openslide_backend.py
  tests/test_image.py
  tests/test_writers.py
Due: mypy, pylint, clang-format

Updated workflows
  .github/workflows/codecov.yml
  .github/workflows/mypy.yml
  .github/workflows/pylint.yml
  .github/workflows/tox.yml
  dlup/_image.py
  meson.build
Due: mypy, pylint

Add ZSTD compression, reformat some files
  .github/workflows/codecov.yml
  .github/workflows/tox.yml
  meson.build
  src/libtiff_tiff_writer.cpp
Due: clang-format

First commit with geometries
  meson.build
  pyproject.toml
  src/geometry.cpp
Due: clang-format

First writing of Polygon
  src/geometry.cpp
Due: clang-format

Some additional changes to cast the Polygon.
  geometry.py
  src/geometry.cpp
Due: pylint, clang-format

Commiting to not lose work
  dlup/geometry.py
  src/geometry.cpp
Due: mypy, pylint, clang-format

Updated for initial version of WsiAnnotations
  dlup/geometry.py
  dlup/utils/imports.py
  geometry.py
  src/geometry.cpp
Due: mypy, pylint, clang-format

updates
  dlup/geometry.py
  src/geometry.cpp
Due: mypy, pylint, clang-format

Some updates during development
  dlup/annotations2.py
  dlup/geometry.py
  gen_polygons.py
  src/exceptions.h
  src/geometry.cpp
  src/geometry.h
  test_performance.py
Due: mypy, pylint, clang-format

Fix scaling issues
  dlup/annotations.py
  src/geometry.cpp
  src/geometry.h
Due: mypy, pylint, clang-format

Added functionality to remove polygons and points and to rebuild the RTree
  src/geometry.cpp
Due: clang-format

Implement complete initial version of geometry module
  dlup/annotations2.py
  dlup/annotations_experimental.py
  gen_polygons.py
  src/exceptions.h
  src/geometry.cpp
  test_performance.py
Due: mypy, pylint, clang-format

We actually need to iterate over all layers, not just polys
  dlup/annotations_experimental.py
Due: mypy, pylint

Implement scaling and offset functions
  dlup/annotations_experimental.py
  src/geometry.cpp
Due: mypy, pylint, clang-format

Add z_index to geojson properties when importing and exporting
  dlup/annotations.py
Due: mypy, pylint

Fix annotation crop for Polygons in read_region and test_annotations
  dlup/annotations.py
  tests/test_annotations.py
Due: mypy, pylint

Fixed rename_labels and tests for __new__ method of Polygon/Point
  dlup/data/transforms.py
  tests/test_transforms.py
Due: mypy, pylint

Created new AnnotatedGeometry, adhere to shapely dunder and functions
  dlup/annotations.py
Due: mypy, pylint

Path conditions:
  mypy: any of: ^dlup/ and \.py$
  pylint: any of: \.py$
  clang-format: any of: \.(cpp|h)$
