Repository NKI-AI/dlup: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, clang-format

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --strict

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - dlup
  - -rn
  - -sn
  - --errors-only

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

Refactor code
  .clang-format
  src/geometry/collection.h
  src/geometry/rtree.h
  src/geometry/utilities.h
Due: clang-format

Rename functions, remove functions
  dlup/geometry.py
  src/geometry.cpp
  src/geometry/base.h
  src/geometry/collection.h
  src/geometry/point.h
  src/geometry/polygon.h
  src/geometry/rtree.h
Due: mypy, pylint, clang-format

Adhere to google C++ style guide
  src/geometry.cpp
  src/geometry/collection.h
  src/geometry/point.h
  src/geometry/polygon.h
  src/geometry/region.h
  src/geometry/utilities.h
Due: clang-format

Maybe include stdexcept so that github understandS?
  src/geometry/utilities.h
  src/tiff/exceptions.h
Due: clang-format

Reducing a few compiler warnings
  meson.build
Due: none

Make sure mypy runs.
  dlup/_geometry.pyi
  src/geometry/collection.h
  src/geometry/point.h
  src/tiff/exceptions.h
  src/tiff/writer.h
Due: clang-format

Convenient helper function
  dlup/annotations_experimental.py
Due: mypy, pylint

Implement XML export
  dlup/annotations_experimental.py
  dlup/schemas/dlup_annotations_example.xml
  dlup/schemas/dlup_schema_v1.0.xsd
  dlup/utils/annotations_utils.py
  dlup/utils/geometry_xml.py
  dlup/utils/schemas/generated/__init__.py
  dlup/utils/schemas/generated/dlup_schema_v1_0.py
  examples/annotations_to_mask.py
Due: mypy, pylint

Add xsdata to requirements
  pyproject.toml
Due: none

XML Schema reading now works
  dlup/annotations_experimental.py
  dlup/schemas/dlup_annotations_example.xml
  dlup/schemas/dlup_schema_v1.0.xsd
  dlup/utils/geometry_xml.py
  dlup/utils/schemas/generated/dlup_schema_v1_0.py
  examples/annotations_to_mask.py
Due: mypy, pylint

Order can be 0...
  dlup/annotations_experimental.py
  examples/annotations_to_mask.py
Due: mypy, pylint

Several changes to support HaloXML
  dlup/annotations_experimental.py
  dlup/utils/schemas/dlup_schema_v1.0.xsd
  examples/dlup_annotations_example.xml
  src/geometry.cpp
  src/geometry/polygon.h
Due: mypy, pylint, clang-format

Improve test coverage
  .spin/cmds.py
  dlup/annotations_experimental.py
  dlup/schemas/dlup_annotations_example.xml
  dlup/schemas/dlup_schema_v1.0.xsd
  dlup/utils/annotations_utils.py
  examples/annotations_to_mask.py
  examples/dlup_annotations_example.xml
  pyproject.toml
  tests/test_slide_annotations.py
  tests/utils/test_annotation_utils.py
Due: mypy, pylint

Improve test coverage to 90%
  dlup/annotations_experimental.py
  dlup/geometry.py
  tests/infer_ann.py
  tests/test_slide_annotations.py
  tests/utils/test_annotation_utils.py
Due: mypy, pylint

Streamlining
  dlup/geometry.py
  examples/annotations_to_mask.py
  tests/test_slide_annotations.py
Due: mypy, pylint

Trying to get better CI/CD coverage
  .spin/cmds.py
  dlup/annotations_experimental.py
Due: mypy, pylint

Fix bug in annotations_experimental.py
  dlup/annotations_experimental.py
Due: mypy, pylint

Add more tests, and fix bug in process
  README.md
  dlup/annotations_experimental.py
  tests/files/halo_holes.annotations
  tests/test_slide_annotations.py
Due: mypy, pylint

Updating tests, updating schema, add box
  dlup/_geometry.pyi
  dlup/annotations_experimental.py
  dlup/geometry.py
  dlup/utils/schemas/dlup_schema_v1.0.xsd
  dlup/utils/schemas/generated/__init__.py
  dlup/utils/schemas/generated/dlup_schema_v1_0.py
  src/geometry.cpp
  src/geometry/base.h
  src/geometry/box.h
  src/geometry/collection.h
  src/geometry/point.h
  src/geometry/polygon.h
  src/geometry/region.h
  src/geometry/rtree.h
  src/geometry/utilities.h
  tests/files/test_different_types_halo.annotations
  tests/test_slide_annotations.py
Due: mypy, pylint, clang-format

Add more boxes functionality.
  dlup/_geometry.pyi
  dlup/annotations_experimental.py
  src/geometry.cpp
  src/geometry/box.h
  src/geometry/collection.h
  src/geometry/region.h
  tests/files/test_different_types_halo.annotations
Due: mypy, pylint, clang-format

Refactor factory methods to factory.h
  src/geometry.cpp
  src/geometry/collection.h
  src/geometry/factory.h
  src/geometry/region.h
Due: clang-format

Refactor
  src/geometry/region.h
Due: clang-format

Code simplifications
  src/geometry/factory.h
  src/geometry/region.h
  src/opencv.h
Due: clang-format

Some final memory improvements
  src/geometry/region.h
  src/opencv.h
Due: clang-format

Adding boxes to the geometry module
  .spin/cmds.py
  dlup/_geometry.pyi
  dlup/annotations_experimental.py
  pyproject.toml
  src/geometry.cpp
  src/geometry/box.h
  src/geometry/collection.h
  src/geometry/region.h
  tests/test_geometry.py
Due: mypy, pylint, clang-format

Improve CI/CD
  .spin/cmds.py
  dlup/_geometry.pyi
  examples/annotations_to_mask.py
Due: pylint

Adding deprecation warnings
  dlup/annotations.py
  pyproject.toml
Due: mypy, pylint

Streamline meson
  .spin/cmds.py
  dlup/meson.build
  meson.build
  src/meson.build
  third_party/meson.build
Due: pylint

Attempt lazy initialization of the geometry collection in the region class
  src/geometry/collection.h
  src/geometry/region.h
Due: clang-format

Update tests for lazy evaluation
  .spin/cmds.py
  dlup/annotations_experimental.py
  src/geometry/collection.h
  src/geometry/region.h
  tests/test_geometry.py
  tests/test_slide_annotations.py
Due: mypy, pylint, clang-format

Remove internal_handler=None and simplify no-padding case
  dlup/_image.py
Due: mypy, pylint

Fixing memory error in region.h. Fix tox
  .github/workflows/tox.yml
  src/geometry/region.h
  src/opencv.h
  tests/test_geometry.py
  tests/test_slide_annotations.py
Due: pylint, clang-format

Improve workflows
  .github/workflows/tox.yml
  .spin/cmds.py
  dlup/annotations_experimental.py
  dlup/meson.build
  src/meson.build
  third_party/meson.build
  tox.ini
Due: mypy, pylint

Improve workflows
  .github/workflows/codecov.yml
  .github/workflows/tox.yml
  .spin/cmds.py
  dlup/annotations_experimental.py
  dlup/meson.build
  meson.build
  src/meson.build
  tests/test_slide_annotations.py
  third_party/meson.build
  tox.ini
Due: mypy, pylint

Update tox.ini
  tox.ini
Due: none

Remove line that doesn't work on github (?!)
  tests/test_slide_annotations.py
Due: pylint

Cleanup code
  src/opencv.h
Due: clang-format

Try to run tests non-parallel
  pyproject.toml
  tox.ini
Due: none

Squash errors for now
  .github/workflows/codecov.yml
  .github/workflows/tox.yml
Due: none

Fixes for ubuntu
  .spin/cmds.py
  meson.build
  third_party/meson.build
Due: pylint

Path conditions:
  mypy: any of: ^dlup/ and \.py$
  pylint: any of: \.py$
  clang-format: any of: \.(cpp|h)$
