Repository NKI-AI/dlup: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, clang-format

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --strict

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - dlup
  - -rn
  - -sn
  - --errors-only

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

Remove v7 remote backend
  dlup/backends/v7_backend.py
Due: mypy, pylint

Output pyvips Image for DeepZoomSlide.read_region
  dlup/backends/deepzoom_backend.py
  dlup/backends/slidescore_backend.py
Due: mypy, pylint

Improving annotations to mask conversion
  dlup/annotations_experimental.py
  examples/annotations_to_mask.py
  src/geometry.cpp
  src/geometry/region.h
  tests/test_geometry.py
  tests/test_slide_annotations.py
Due: mypy, pylint, clang-format

Reformat
  .spin/cmds.py
  dlup/annotations_experimental.py
  examples/annotations_to_mask.py
  src/geometry.cpp
  src/geometry/polygon_collection.h
  src/geometry/region.h
  src/opencv.h
Due: mypy, pylint, clang-format

Add Lazy Array
  examples/annotations_to_mask.py
  pyproject.toml
  src/geometry.cpp
  src/geometry/lazy_array.h
  src/geometry/polygon_collection.h
Due: pylint, clang-format

Added some extra functionality to lazy array
  .github/workflows/codecov.yml
  .spin/cmds.py
  examples/annotations_to_mask.py
  src/geometry.cpp
  src/geometry/lazy_array.h
  src/geometry/polygon_collection.h
Due: pylint, clang-format

Added lazy evaluation for PolygonCollection
  examples/annotations_to_mask.py
  src/geometry.cpp
  src/geometry/polygon_collection.h
  src/geometry/region.h
  tests/test_geometry.py
Due: pylint, clang-format

Added lazy evaluation for PolygonCollection
  examples/annotations_to_mask.py
  meson.build
  src/geometry.cpp
  src/geometry/polygon_collection.h
  src/geometry/region.h
  tests/test_geometry.py
  third_party/meson.build
Due: pylint, clang-format

Make precommit run
  tests/test_slide_annotations.py
Due: pylint

Updates to CI
  examples/annotations_to_mask.py
  meson.build
  tests/test_slide_annotations.py
  third_party/meson.build
Due: pylint

Fix mypy
  dlup/_geometry.pyi
  examples/files/dlup_annotation_test.xml
Due: none

Move helper functions to utils/backends
  .mypy.ini
  dlup/backends/common.py
  dlup/backends/deepzoom_backend.py
  dlup/backends/slidescore_backend.py
  dlup/utils/backends.py
  dlup/utils/imports.py
  pyproject.toml
Due: mypy, pylint

Add ROI to the GeometryCollection
  dlup/_geometry.pyi
  src/geometry.cpp
  src/geometry/collection.h
  src/geometry/polygon_collection.h
  src/geometry/region.h
Due: clang-format

Added ROIs to DLUP XML
  dlup/annotations_experimental.py
  dlup/utils/geometry_xml.py
  dlup/utils/schemas/dlup_schema_v1.0.xsd
  dlup/utils/schemas/generated/__init__.py
  dlup/utils/schemas/generated/dlup_schema_v1_0.py
  tests/files/dlup_xml_example.xml
Due: mypy, pylint

Added ROIs to output xml and parsing
  dlup/_geometry.pyi
  dlup/annotations_experimental.py
  dlup/utils/geometry_xml.py
  tests/files/dlup_xml_example.xml
Due: mypy, pylint

Insert images to fix bug with pyvips.arrayjoin & remove cmyk2rgb conversion
  dlup/backends/deepzoom_backend.py
  dlup/backends/slidescore_backend.py
  dlup/utils/backends.py
Due: mypy, pylint

Add optional dependencies for slidescore_remote to pylint
  .github/workflows/pylint.yml
Due: none

move declarations to headers
  src/geometry.cpp
  src/geometry/base.h
  src/geometry/box.h
  src/geometry/point.h
  src/geometry/polygon.h
Due: clang-format

Use dynamic annotation reader and writers
  dlup/__init__.py
  dlup/annotations.py
  dlup/annotations/__init__.py
  dlup/annotations/exporters/__init__.py
  dlup/annotations/exporters/dlup_xml.py
  dlup/annotations/exporters/geojson.py
  dlup/annotations/importers/asap_xml.py
  dlup/annotations/importers/darwin_json.py
  dlup/annotations/importers/dlup_xml.py
  dlup/annotations/importers/geojson.py
  dlup/annotations/importers/halo_xml.py
  dlup/annotations/tags.py
  dlup/annotations_experimental.py
  dlup/background.py
  dlup/data/dataset.py
  dlup/data/transforms.py
  examples/annotations_to_mask.py
  src/geometry/box.h
Due: mypy, pylint, clang-format

Improve code formatting
  dlup/annotations/importers/__init__.py
  src/geometry/point.h
  tests/test_annotations.py
  tests/test_background.py
  tests/test_slide_annotations.py
  tests/test_transforms.py
Due: mypy, pylint, clang-format

Update versions, fix new mypy errors
  dlup/backends/tifffile_backend.py
  examples/annotations_to_mask.py
  pyproject.toml
Due: mypy, pylint

Move ImageBackend to init to prevent circular imports
  dlup/_image.py
  dlup/backends/__init__.py
  dlup/data/dataset.py
  dlup/utils/backends.py
  tests/test_writers.py
Due: mypy, pylint

Split deepzoom backend, simplify remote backend, small edge case fix
  dlup/backends/deepzoom_backend.py
  dlup/backends/remote_backends.py
  dlup/backends/slidescore_backend.py
  pyproject.toml
Due: mypy, pylint

Add testing for deepzoom and remote backends
  pyproject.toml
  tests/backends/test_backends.py
  tests/backends/test_remote_backends.py
Due: pylint

Replace with and for compatibility with ubuntu-latest (ubuntu-24.04) in workflows
  .github/workflows/codecov.yml
  .github/workflows/mypy.yml
  .github/workflows/pylint.yml
  .github/workflows/tox.yml
Due: none

Fix mypy errors
  dlup/backends/__init__.py
  dlup/backends/openslide_backend.py
Due: mypy, pylint

Add slidescore tsv importer / exporter and add boxes to SlideAnnotations
  dlup/_geometry.pyi
  dlup/annotations/__init__.py
  dlup/annotations/exporters/slidescore_tsv.py
  dlup/annotations/importers/slidescore_tsv.py
  dlup/geometry.py
  src/geometry/collection.h
Due: mypy, pylint, clang-format

Improve error handling and reuse clientsession
  dlup/backends/remote_backends.py
  dlup/backends/slidescore_backend.py
Due: mypy, pylint

Remote backends feature (rebased on new main)
  .gitignore
  dlup/_image.py
  dlup/backends/__init__.py
  dlup/backends/deepzoom_backend.py
  dlup/backends/remote_backend.py
  dlup/backends/slidescore_backend.py
  dlup/utils/backends.py
  dlup/utils/imports.py
  tests/python/deepzoom_backend_test.py
  tests/python/image_test.py
  tests/python/remote_backend_test.py
  tests/python/slidescore_backend_test.py
  tests/python/writers_test.py
Due: mypy, pylint

Add support for remote backends in README and pyproject.toml
  README.md
  pyproject.toml
Due: none

Add Dockerfile and .dockerignore for containerized environment setup
  .dockerignore
  Dockerfile
Due: none

Refactor Dockerfile for multi-stage build
  Dockerfile
Due: none

refactor(docker): Update Dockerfile to clarify multi-stage build targets and streamline installation steps for dlup C++ extensions.
  Dockerfile
Due: none

Use specific Python version 3.13.3 for consistent cache hit
  Dockerfile
Due: none

Path conditions:
  mypy: any of: ^dlup/ and \.py$
  pylint: any of: \.py$
  clang-format: any of: \.(cpp|h)$
