Repository NKI-AI/dlup: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, clang-format

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --strict

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - dlup
  - -rn
  - -sn
  - --errors-only

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

Remove unneeded file
  dlup/c_writers.py
Due: mypy, pylint

Add libtiff and pybind
  .github/workflows/mypy.yml
  .github/workflows/pylint.yml
  .github/workflows/tox.yml
Due: none

Fix typo.
  src/libtiff_tiff_writer.cpp
Due: clang-format

Reformatted files
  src/libtiff_tiff_writer.cpp
Due: clang-format

defer import of pybind11
  setup.py
Due: pylint

Update setup.py
  setup.py
Due: pylint

Update pylint workflow
  .github/workflows/pylint.yml
Due: none

Trying to defer loading of pybind11
  setup.py
Due: pylint

Adding pybind to pyproject.toml
  pyproject.toml
Due: none

Use scikit-build
  .github/workflows/pylint.yml
  CMakeLists.txt
  pyproject.toml
  setup.py
Due: pylint

Add skit-build
  .github/workflows/codecov.yml
  .github/workflows/mypy.yml
  .github/workflows/tox.yml
Due: none

Fix mypy
  .gitignore
  setup.py
Due: pylint

Improve type hinting, split _is_rectangle and change _available_labels to set
  dlup/annotations.py
  tests/test_annotations.py
Due: mypy, pylint

Update pylint workflow
  Makefile
  setup.py
Due: pylint

Do not use python interpreter for getting dlup version
  MANIFEST.in
  src/constants.h
  src/libtiff_tiff_writer.cpp
Due: clang-format

bump version automatically
  setup.cfg
Due: none

Fixes for TOX
  .gitignore
  MANIFEST.in
  pyproject.toml
  tox.ini
Due: none

Add annotation type to Darwin v7 metadata to retrieve color
  dlup/annotations.py
  tests/test_annotations.py
Due: mypy, pylint

Remove print statements
  dlup/annotations.py
  tests/test_annotations.py
Due: mypy, pylint

Added tests, fix CI/CD
  examples/resample_image_to_tiff.py
  examples/test.py
  setup.py
  src/libtiff_tiff_writer.cpp
  tests/test_writers.py
Due: pylint, clang-format

Improve tox
  .github/workflows/tox.yml
  dlup/writers.py
Due: mypy, pylint

attempt to add pybind to tox workflow
  CMakeLists.txt
Due: none

Another try.
  .github/workflows/tox.yml
Due: none

Is this finally it?
  .github/workflows/tox.yml
Due: none

Lets try to set the pybind11 dir instead
  .github/workflows/tox.yml
  _background.cpython-310-darwin.so
  _background.cpython-311-darwin.so
Due: none

Let's see what happens if we exclude this
  CMakeLists.txt
Due: none

Does this work?
  .github/workflows/tox.yml
Due: none

pkgconfig??
  .github/workflows/tox.yml
Due: none

Last try for today.
  .github/workflows/tox.yml
Due: none

build extensions
  .github/workflows/codecov.yml
Due: none

More deps
  .github/workflows/codecov.yml
Due: none

Require numpy before install
  .github/workflows/codecov.yml
  setup.py
Due: pylint

Updated workflows
  .github/workflows/black.yml
  .github/workflows/codecov.yml
  .github/workflows/mypy.yml
  .github/workflows/pylint.yml
  .github/workflows/tox.yml
  setup.py
  tests/common.py
  tests/test_writers.py
  tox.ini
Due: pylint

Updates after local testing
  .github/workflows/black.yml
  .github/workflows/codecov.yml
  .github/workflows/mypy.yml
  .github/workflows/pylint.yml
  .github/workflows/tox.yml
  CMakeLists.txt
  setup.py
  tests/common.py
  tests/test_writers.py
  tox.ini
Due: pylint

Add scikit-build to mypy workflow
  .github/workflows/mypy.yml
Due: none

Upgrade setuptools
  pyproject.toml
Due: none

Hard updates of tox.yml and pyproject.toml
  .github/workflows/tox.yml
  pyproject.toml
Due: none

Fix pyproject.toml
  pyproject.toml
Due: none

Update versions to make this stuff run in github
  .github/workflows/black.yml
  .github/workflows/mypy.yml
  .github/workflows/tox.yml
  pyproject.toml
Due: none

Path conditions:
  mypy: any of: ^dlup/ and \.py$
  pylint: any of: \.py$
  clang-format: any of: \.(cpp|h)$
