Repository NKI-AI/dlup: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
    -   id: black
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
    -   id: ruff
-   repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    # Ignore the configuration files
    hooks:
    -   id: flake8
        exclude: ^docs/
-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
-   repo: local # Use pylint from local environment as it requires to import packages
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ["--strict"]
        files: ^dlup/
-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
- repo: local  # Use pylint from local environment as it requires to import packages
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "dlup",
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--errors-only"  # Only show the errors
        ]
-   repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.2
    hooks:
    -   id: cython-lint
    -   id: double-quote-cython-strings
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(cpp|h)$
        args: ['-i']

Add dunder function templates
  dlup/annotations.py
Due: mypy, pylint

Add helper function to utils and Enum for Darwin/ASAP annotation types
  dlup/annotations.py
  dlup/utils/annotations_utils.py
Due: mypy, pylint

Add darwin_annotation_type to color look up and move Darwin util function to utils
  dlup/annotations.py
  dlup/utils/annotations_utils.py
Due: mypy, pylint

Move affine transform to end of WsiAnnotations.read_region
  dlup/annotations.py
Due: mypy, pylint

Bugfix for WsiAnnotations.filter function
  dlup/annotations.py
Due: mypy, pylint

Add sorting to WsiAnnotations class and implement dunder methods for addition
  dlup/annotations.py
  tests/test_annotations.py
Due: mypy, pylint

Improve type hinting, split _is_rectangle and change _available_labels to set
  dlup/annotations.py
  tests/test_annotations.py
Due: mypy, pylint

Adding functionality to reindex polygons
  dlup/annotations_experimental.py
  dlup/geometry.py
Due: mypy, pylint

Add error messages and tests for dunder methods
  dlup/annotations.py
  tests/test_annotations.py
Due: mypy, pylint

Incorporate ComplexDarwinPolgyonWrapper into function
  dlup/annotations.py
Due: mypy, pylint

Fix test_point_pickling + use dlup geometries for tests
  tests/test_annotations.py
Due: pylint

Return NotImplemented for dunder sub methods WsiAnnotations
  dlup/annotations.py
  tests/test_annotations.py
Due: mypy, pylint

Remove print statements
  dlup/annotations.py
Due: mypy, pylint

Fix black formatter
  tests/test_transforms.py
Due: pylint

Add annotation type to Darwin v7 metadata to retrieve color
  dlup/annotations.py
  dlup/utils/annotations_utils.py
  tests/test_annotations.py
Due: mypy, pylint

Created output container for results
  dlup/annotations_experimental.py
  src/geometry.cpp
Due: mypy, pylint, clang-format

Revert shapely affine transform changes and correct isort for dlup._types
  dlup/_image.py
  dlup/annotations.py
  dlup/backends/openslide_backend.py
  dlup/backends/pyvips_backend.py
  dlup/backends/tifffile_backend.py
  dlup/data/dataset.py
  dlup/writers.py
  tests/backends/test_openslide_backend.py
Due: mypy, pylint

Sensible updates
  gen_polygons.py
  src/geometry.cpp
Due: pylint, clang-format

Add masking utility to AnnotationRegion
  dlup/annotations.py
  dlup/annotations_experimental.py
  gen_polygons.py
  meson.build
  src/geometry.cpp
Due: mypy, pylint, clang-format

Memory optimizations
  meson.build
  src/geometry.cpp
Due: clang-format

Adding sorting capabilities
  dlup/annotations_experimental.py
  gen_polygons.py
  src/geometry.cpp
  test_performance.py
Due: mypy, pylint, clang-format

Add bounding box
  gen_polygons.py
  src/geometry.cpp
Due: pylint, clang-format

Added color LUT
  dlup/annotations_experimental.py
  gen_polygons.py
Due: mypy, pylint

Refactor
  dlup/geometry.py
  src/geometry.cpp
  src/geometry2.h
Due: mypy, pylint, clang-format

Extend dunder methods and code simplification for annotations (#251)
  dlup/_geometry.cpython-310-darwin.so
  dlup/_geometry.pyi
  dlup/_image.py
  dlup/annotations.py
  dlup/annotations_experimental.py
  dlup/backends/openslide_backend.py
  dlup/backends/pyvips_backend.py
  dlup/backends/tifffile_backend.py
  dlup/data/dataset.py
  dlup/data/transforms.py
  dlup/geometry.py
  dlup/utils/annotations_utils.py
  dlup/writers.py
  gen_polygons.py
  src/exceptions.h
  src/geometry.cpp
  src/geometry.h
  src/geometry2.h
  src/geometry_utils.h
  src/opencv.h
  src/region.h
  src/rtree.cpp
  src/rtree.h
  test_performance.py
  tests/backends/test_openslide_backend.py
  tests/test_annotations.py
  tests/test_geometry.py
  tests/test_transforms.py
Due: mypy, pylint, clang-format

Fixing the scaling, mypy and adding tests
  dlup/_geometry.pyi
  dlup/annotations_experimental.py
  dlup/geometry.py
  src/geometry.cpp
  src/geometry.h
  src/region.h
  src/rtree.cpp
  tests/test_geometry.py
Due: mypy, pylint, clang-format

minor changes in annotations
  dlup/annotations.py
Due: mypy, pylint

Updating geometry module, and its tests.
  .gitignore
  dlup/_geometry.cpython-310-darwin.so
  dlup/_geometry.pyi
  dlup/annotations.py
  dlup/annotations_experimental.py
  dlup/geometry.py
  dlup/utils/annotations_utils.py
  meson.build
  src/geometry.cpp
  src/geometry.h
  src/opencv.h
  src/region.h
  src/rtree.h
  tests/test_geometry.py
  tests/test_slide_annotations.py
Due: mypy, pylint, clang-format

Rename modules, improve CI/CD
  .github/workflows/codecov.yml
  .github/workflows/mypy.yml
  .github/workflows/pylint.yml
  .github/workflows/tox.yml
  dlup/_geometry.pyi
  dlup/annotations.py
  dlup/annotations_experimental.py
  dlup/data/dataset.py
  dlup/data/transforms.py
  dlup/geometry.py
  examples/annotations_to_mask.py
  tests/test_annotations.py
  tests/test_background.py
  tests/test_geometry.py
  tests/test_slide_annotations.py
  tests/test_transforms.py
Due: mypy, pylint

Almost done with the geometry module Strange bug remains.
  dlup/_geometry.pyi
  dlup/annotations_experimental.py
  pyproject.toml
  tests/test_slide_annotations.py
Due: mypy, pylint

Disable a few tests, squash pylint errors
  dlup/geometry.py
  pyproject.toml
  tests/test_slide_annotations.py
Due: mypy, pylint

Fixing some bugs when trees get invalidated This was a problem when the insertation order was not the same.
  dlup/annotations_experimental.py
  dlup/geometry.py
  src/geometry.cpp
  src/geometry.h
  tests/test_geometry.py
  tests/test_slide_annotations.py
Due: mypy, pylint, clang-format

Do an allclose rather than equal
  tests/test_slide_annotations.py
Due: pylint

Weirdly enough different values on github
  tests/test_slide_annotations.py
Due: pylint

Maybe a sudo install won't hurt
  .github/workflows/codecov.yml
Due: none

Remove assert
  tests/test_slide_annotations.py
Due: pylint

Restructure C++ code
  src/geometry.cpp
  src/geometry.h
  src/geometry/base.h
  src/geometry/point.h
  src/geometry/polygon.h
  src/region.h
  src/rtree.h
Due: clang-format

Restructure C++ code
  src/geometry.cpp
  src/geometry/base.h
  src/geometry/collection.h
  src/geometry/exceptions.h
  src/geometry/point.h
  src/geometry/polygon.h
  src/geometry/region.h
  src/geometry/rtree.h
  src/geometry/utilities.h
  src/libtiff_tiff_writer.cpp
  src/tiff/exceptions.h
  src/tiff/writer.h
Due: clang-format

Refactored code.
  src/geometry.cpp
  src/geometry/collection.h
  src/geometry/point.h
  src/geometry/polygon.h
  src/geometry/rtree.h
  src/libtiff_tiff_writer.cpp
  src/opencv.h
  src/tiff/writer.h
Due: clang-format

Refactoring
  src/geometry.cpp
  src/geometry/base.h
  src/geometry/collection.h
  src/geometry/exceptions.h
  src/geometry/point.h
  src/geometry/polygon.h
  src/geometry/region.h
  src/geometry/rtree.h
  src/geometry/utilities.h
  src/image.h
  src/libtiff_tiff_writer.cpp
  src/opencv.h
  src/tiff/exceptions.h
  src/tiff/writer.h
Due: clang-format
